<h1>GitHub Trello Poster</h1>

<p>This app uses GitHub webhooks to be notified when a Pull Request is opened or changed on GitHub. When it finds a link to a Trello card in the Pull Request, it posts a link to that Pull Request to a checklist on the given card. When a Pull Request is merged, the app checks the Pull Request off the checklist.</p>

<p>For more information visit the app's <a href="https://github.com/emmabeynon/github-trello-posters">GitHub repo</a></p>
